* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
h1 {
  color: rgb(38, 9, 117);
  margin-left: 3cm;
}
body {
  background-color: rgb(185, 238, 238);
  color: rgb(5, 6, 20);

  font-family: Poppins, sans-serif;
}
nav {
  background-color: rgb(2, 9, 53);
  height: 70px;
  padding-top: 10px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: sticky;
  z-index: 1000;
}
nav ul {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
#mobile,
#close-bar {
  display: none;
}
nav ul li {
  list-style: none;
  margin: 0 11px;
}
/* */
nav ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
}
nav ul li a i{
  text-decoration: none;
  color: rgb(10, 0, 0);
}
.social img{
  height: 25px;
}
.left {
  font-size: 1.5rem;
  color: white;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  height: 08vw;
}
.firstsection > div {
  width: 30%;
}
.rightsection img {
  height: 200px;
  margin: 30px 0;
  border-radius: 9px;
  margin-left: 4cm;
}
.leftsection {
  font-size: larger;
}
#name {
  color: rgb(13, 1, 85);
  font-size: xx-large;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
#work {
  color: rgb(38, 85, 0);
  font-size: xx-large;
}
#initial {
  font-size: x-large;
}
.secondSection {
  margin: auto;
  width: 80vw;
}

.contact ul {
  list-style: none;
  justify-content: space-evenly;
  display: flex;

}

.contact a,.contact i {
  text-decoration: none;
  color: #090c2f;
  font-size: larger;
}

button[class="write"] {
  font-family: poppins;
  background: #71a003;
  margin-left: 4cm;
  width: 6.5cm;
  height: 1.3cm;
  font: 1.2em poppins;
  border-radius: 5px;
  font-size: larger;
  border-color: rgb(0, 0, 0);
}
button[class="write"]:hover {
  cursor: pointer;
}
.about {
  text-align: left;
  height: auto;
  margin-top: 1cm;
  width: 50%;
  padding-left: 15vh;
}
#About-me {
  font-family: "Ubuntu", sans-serif;
}
.projects {
  background-color: rgb(185, 238, 238);
  text-align: center;
  margin-top: 0cm;
  justify-content: space-around;
  display: flex;
}
#project {
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  padding-left: 15%;
  margin-top: 50px;
}

.projects > div {
  margin-top: 2cm;
  margin-bottom: 2cm;
  text-align: center;
  box-shadow: 0 10px 8px rgba(2, 2, 1, 0.1);
  background-color: rgb(255, 255, 255);
  height: 5cm;
  width: 7cm;
  border-radius: 5px;
}
.projects > div:hover {
  /* scale: 1.1; */
  transform: translateY(-10px);
  color: rgb(255, 255, 255);
}
.projects > div button {
  font-family: "poppins";
  font-weight: bold;
  font-size: large;
  color: rgb(0, 0, 0);
  height: 1cm;
  width: 2cm;
  border: none;
  border-radius: 30px;
  background-color: #5736dd;
  outline: none;
}
.projects > div button:hover {
  background-color: rgb(207, 207, 4);
  color: rgb(1, 20, 48);
  outline: none;
}
.projects > div a {
  text-decoration: none;
  color: white;
}
.projects > div a:hover {
  color: rgb(15, 1, 49);
}
.projects > div strong {
  color: rgb(22, 3, 3);
}

@media (max-width: 475px) {
  nav {
    position: relative;
    /* display:flex;  
        flex-direction:row ;
        justify-content: space-between; */
    height: 80px;
    color: rgb(255, 255, 255);
    background-color: #0a1018;
  }
  nav #mobile {
    position: absolute;
    right: 29px;
  }
  /* #menu{
        right: -399px;
        
    }
   */
  .firstsection {
    width: 200px;
  }
  #mobile,
  #close-bar {
    display: block;
  }

  nav ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    text-align: start;
    border-radius: 3px;
    right: -300px;
    width: 160px;
    height: 30vh;
    padding-top: 10px;
    box-shadow: 8px 10px 40% rgb(221, 0, 0);
    transition: 0.5s;
  }
  nav ul li a,
  nav ul li i {
    color: #090c2f;
    /* position: absolute; */
  }
  .left {
    margin-left: 8px;
    color: #ffffff;
    font-size: large;
  }
  .firstsection {
    margin-top: 9px;
    width: 240px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    font-size: medium;
  }
  .firstsection > div {
    padding: 0;
    margin: 0;
  }
  .firstsection .leftsection {
    width: 200px;
  }
  .firstsection span#name {
    font-size: large;
  }
  span#initial {
    font-size: medium;
  }
  span#work {
    font-size: large;
  }
  .rightsection {
    width: min-content;
  }
  .rightsection img {
    width: 250px;
    border-radius: 55%;
    margin-left: 15px;
  }
  button[class="write"] {
    width: 200px;
    margin-left: 18px;
    padding-left: 3px;
    outline: none;
  }
  .about-me {
    margin: 10px 5px;
    padding: 5px 5px;
    width: fit-content;
  }
  section #about {
    width: min-content;
  }
  .about {
    padding: 0%;
  }
  #About-me {
    font-size: 20px;
    width: 100px;
    margin-left: 30%;
  }
  .about-me p {
    text-align: start;
    width: 75vw;
  }
  .projects {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 275px;
  }
  .project {
    margin-top: 5px;
    margin-left: 8px;
    text-align: center;
    box-shadow: 0 10px 8px rgba(2, 2, 1, 0.1);
    background-color: rgb(255, 255, 255);
    height: 250px;
    width: 60vw;
    border-radius: 5px;
  }
  #about {
    width: 275px;
  }
  #about-me {
    width: 100px;
    margin-left: 10px;
  }
  #social{
    margin-left: 5px;
  }
  .social img{
    margin-left: 8px;
    height: 25px;
  }
  .social #profile{
    margin-right: 15px;
  }
}
